<ion-header>
  <ion-toolbar>
    <ion-title>
      Random 2 Números
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Lista de randoms</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Mínimo</ion-label>
                <ion-input type="number" [(ngModel)]="minimo" min="0"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Máximo</ion-label>
                <ion-input type="number" [(ngModel)]="maximo" min="0"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>



        <p *ngIf="par" style="font-size: 60px" text-center>{{numero}}</p>
        <p *ngIf="!par" style="font-size: 100px" text-center>{{numero}}</p>



      </ion-card-content>
      <ion-button fill="outline" expand="block" (click)="random()">Random</ion-button>
    </ion-card>
</ion-content>
